In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("/content/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='latin-1')

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Area Code,60943.0,134.265576,72.605709,4.0,74.0,136.00,195.00,276.0
Item Code,60943.0,2687.176706,146.055739,2501.0,2562.0,2630.00,2775.00,2961.0
Element Code,60943.0,3814.856456,2212.007033,511.0,684.0,5142.00,5511.00,5911.0
Y2014,59354.0,134.196282,1567.663696,-1796.0,0.0,0.09,8.34,176405.0
Y2015,59395.0,135.235966,1603.403984,-3161.0,0.0,0.08,8.46,181137.0
Y2016,59408.0,136.555222,1640.007194,-3225.0,0.0,0.08,8.43,185960.0
Y2017,59437.0,140.917765,1671.862359,-1582.0,0.0,0.10,9.00,190873.0
Y2018,59507.0,143.758381,1710.782658,-3396.0,0.0,0.07,9.00,195875.0

In [7]:
df.isna().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [8]:
corr= df.corr

In [9]:
corr()

<ipython-input-9-76d358247336>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [10]:
df['Area'].nunique()

49

In [11]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = [1][1]

print(x)

IndexError: ignored

In [12]:
s = [['him', 'sell'], [90, 28, 43]]
s[0][1][1]

'e'

In [5]:
df[['Area', 'Y2017']].groupby('Area').sum().sort_values(by='Y2017')

                                  Y2017
Area
Sudan (former)                     0.00
Ethiopia PDR                       0.00
Comoros                           59.84
Seychelles                       442.34
Sao Tome and Principe          12662.63
Cabo Verde                     14650.74
Guinea-Bissau                  19102.77
Lesotho                        21267.96
Botswana                       22101.30
Djibouti                       22729.91
Gambia                         23154.18
Gabon                          27979.64
Liberia                        29342.20
Namibia                        29874.89
Central African Republic       29937.00
Congo                          41181.68
Togo                           49841.88
Mauritius                      51114.83
Eswatini                       54343.33
Sierra Leone                   55311.33
Chad                           71594.68
Rwanda                         73663.69
Zimbabwe                       75919.34
Senegal                        95681.15
Guinea                         98138.87
Burkina Faso                  101855.07
Zambia                        103223.77
Tunisia                       124167.20
Benin                         124771.22
Niger                         126707.58
Madagascar                    131197.73
Mali                          149928.33
Mauritania                    156665.46
Mozambique                    161407.98
Malawi                        181098.71
Uganda                        213950.38
Côte d'Ivoire                 224599.01
Angola                        229159.57
Cameroon                      232030.43
Sudan                         239931.92
Kenya                         264660.66
United Republic of Tanzania   322616.85
Algeria                       325644.27
Ghana                         337599.06
Morocco                       388495.36
Ethiopia                      448683.76
South Africa                  517590.54
Egypt                         866379.92
Nigeria                      1483268.23

In [13]:
df['Item'].unique()

array(['Population', 'Grand Total', 'Vegetal Products', 'Animal Products',
       'Cereals - Excluding Beer', 'Wheat and products',
       'Rice and products', 'Barley and products', 'Maize and products',
       'Rye and products', 'Oats', 'Millet and products',
       'Sorghum and products', 'Cereals, Other', 'Starchy Roots',
       'Cassava and products', 'Potatoes and products', 'Sweet potatoes',
       'Yams', 'Roots, Other', 'Sugar Crops', 'Sugar cane', 'Sugar beet',
       'Sugar & Sweeteners', 'Sugar (Raw Equivalent)',
       'Sweeteners, Other', 'Honey', 'Pulses', 'Beans', 'Peas',
       'Pulses, Other and products', 'Treenuts', 'Nuts and products',
       'Oilcrops', 'Soyabeans', 'Groundnuts (Shelled Eq)',
       'Sunflower seed', 'Rape and Mustardseed', 'Cottonseed',
       'Coconuts - Incl Copra', 'Sesame seed',
       'Olives (including preserved)', 'Oilcrops, Other',
       'Vegetable Oils', 'Soyabean Oil', 'Groundnut Oil',
       'Sunflowerseed Oil', 'Rape and Mustard Oil', 'Cottonseed Oil',
       'Palmkernel Oil', 'Palm Oil', 'Coconut Oil', 'Sesameseed Oil',
       'Olive Oil', 'Maize Germ Oil', 'Oilcrops Oil, Other', 'Vegetables',
       'Tomatoes and products', 'Onions', 'Vegetables, Other',
       'Fruits - Excluding Wine', 'Oranges, Mandarines',
       'Lemons, Limes and products', 'Grapefruit and products',
       'Citrus, Other', 'Bananas', 'Plantains', 'Apples and products',
       'Pineapples and products', 'Dates',
       'Grapes and products (excl wine)', 'Fruits, Other', 'Stimulants',
       'Coffee and products', 'Cocoa Beans and products',
       'Tea (including mate)', 'Spices', 'Pepper', 'Pimento', 'Cloves',
       'Spices, Other', 'Alcoholic Beverages', 'Wine', 'Beer',
       'Beverages, Fermented', 'Beverages, Alcoholic',
       'Alcohol, Non-Food', 'Meat', 'Bovine Meat', 'Mutton & Goat Meat',
       'Pigmeat', 'Poultry Meat', 'Meat, Other', 'Offals',
       'Offals, Edible', 'Animal fats', 'Butter, Ghee', 'Cream',
       'Fats, Animals, Raw', 'Fish, Body Oil', 'Fish, Liver Oil', 'Eggs',
       'Milk - Excluding Butter', 'Fish, Seafood', 'Freshwater Fish',
       'Demersal Fish', 'Pelagic Fish', 'Marine Fish, Other',
       'Crustaceans', 'Cephalopods', 'Molluscs, Other',
       'Aquatic Products, Other', 'Aquatic Animals, Others',
       'Aquatic Plants', 'Miscellaneous', 'Infant food',
       'Sugar non-centrifugal', 'Palm kernels', 'Ricebran Oil'],
      dtype=object)

In [14]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [ ]:
df['Area'].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', "Côte d'Ivoire", 'Djibouti', 'Egypt',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)